<template>
    <v-container grid-list-md fluid>
        <v-layout column align-center>
            <v-flex xs2>
                <h1>Predeterminado</h1>
            </v-flex>
        </v-layout>
    </v-container>
</template>
