<template>
    <v-card>
        <v-toolbar color="secondary" dense card>
            <v-btn icon append to="nuevoproducto">
                <v-icon>playlist_add</v-icon>
            </v-btn>
        </v-toolbar>
        <v-container grid-list-md fluid>
            <nuxt-child/>
        </v-container>
    </v-card>
</template>

<script>
export default {
};
</script>

