<template functional>
    <v-card :to="props.to" hover>
        <v-card-text>
            <v-container fluid grid-list-lg>
                <v-layout row>
                    <v-flex xs4>
                        <v-icon size="80">{{ props.icon }}</v-icon>
                    </v-flex>
                    <v-flex xs6>
                        <p class="headline">{{ props.title }}</p>
                        <p>{{ props.description }}</p>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props: {
        to: {type: String, required: true},
        title: {type: String, required: true},
        description: {type: String, required: true},
        icon: {type: String, required: true},
    },
};
</script>
