<template>
    <v-container grid-list-md fluid>
        <v-layout row>
            <v-flex xs4>
                <v-list>
                    <section-module-link
                        v-for="module in modules"
                        :key="module.id"
                        :url="module.url"
                        :icon="module.icon"
                        :title="module.title"/>
                </v-list>
            </v-flex>
            <v-flex xs8>
                <slot/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import SectionModuleLink from "./section_module_link";

export default {
    components: {SectionModuleLink},
    props: {
        modules: {type: Array, required: true},
    },
};
</script>

