<template>
    <v-list-tile :to="url">
        <v-list-tile-action>
            <v-icon>{{ icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
            <v-list-tile-title>{{ title }}</v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
</template>

<script>
export default {
    props: {
        url: {type: String, required: true},
        icon: {type: String, required: true},
        title: {type: String, required: true},
    },
};
</script>

