<template>
    <v-data-table :items="productsOnList">
        <tr slot="items" slot-scope="p">
            <td>{{ p.item.name }}</td>
            <td>{{ p.item.description }}</td>
        </tr>
    </v-data-table>
</template>

<script>
export default {
    asyncData({store, error}) {
        return store
            .dispatch("almacen/productos/LOAD_PRODUCTS_ON_LIST")
            .then(() => ({}))
            .catch((errorMessage) => {
                error({statusCode: 404, message: errorMessage});
            });
    },
    computed: {
        productsOnList() {
            return this.$store.state.almacen.productos.productsOnList;
        },
    },
};
</script>

