<template>
    <v-layout row wrap>
        <v-flex xs12 sm10 md6>
            <v-text-field label="Codigo de barras" box/>
        </v-flex>
        <v-flex xs12 sm10 md6>
            <v-text-field label="Nombre del producto" box/>
        </v-flex>
        <v-flex xs12 sm10 md6>
            <v-text-field label="Descripcion" box/>
        </v-flex>
        <v-flex xs12 sm10 md6>
            <v-autocomplete label="Unidad de medida" box/>
        </v-flex>
        <v-flex xs12 sm10 md6>
            <v-text-field
                label="Costo unitario a la compra"
                box/>
        </v-flex>
        <v-flex xs12 sm10 md6>
            <v-text-field
                label="Costo unitario a la venta"
                box/>
        </v-flex>
        <v-flex xs12 sm10 md6>
            <v-text-field
                label="Ganancia unitaria"
                readonly
                box/>
        </v-flex>
    </v-layout>
</template>
