<template>
    <v-app>
        <v-toolbar :clipped-left="false" dark fixed app color="primary">
            <v-toolbar-title v-text="title"/>
            <v-spacer/>
        </v-toolbar>
        <v-content>
            <v-container>
                <nuxt />
            </v-container>
        </v-content>
        <v-footer
            :fixed="true"
            color="primary"
            dark
            app>
            <h4>Rangel Peralta Jorge Luis</h4>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            title: "RStore",
        };
    },
};
</script>
