<template>
    <section-main :modules="modules">
        <nuxt-child/>
    </section-main>
</template>

<script>
import SectionMain from "../components/section_main";

export default {
    asyncData({store, error}) {
        return store
            .dispatch("almacen/LOAD_MODULES")
            .then(() => ({}))
            .catch((errorMessage) => {
                error({statusCode: 404, message: errorMessage});
            });
    },
    head: {
        title: "Almacen",
    },
    components: {SectionMain},
    computed: {
        modules() {
            return this.$store.state.almacen.modules;
        },
    },
};
</script>

