<template>
    <v-container grid-list-xl fluid>
        <v-layout row wrap>
            <v-flex
                v-for="section in sections"
                :key="section.id"
                xs12
                sm6
                md4
                lg3>
                <link-card
                    :to="section.to"
                    :title="section.title"
                    :description="section.description"
                    :icon="section.icon"/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import LinkCard from "../components/home/link_card";

export default {
    asyncData({store, error}) {
        return store
            .dispatch("home/LOAD_SECTIONS")
            .then(() => {
                return {};
            })
            .catch((errorMessage) => {
                error({statusCode: 404, message: errorMessage});
            });
    },
    head: {
        title: "Home",
    },
    components: {LinkCard},
    computed: {
        sections() {
            return this.$store.state.home.sections;
        },
    },
};
</script>

