<template>
    <v-layout row>
        <v-flex xs12>
            <v-card color="secondary">
                <v-card-text>
                    <v-layout row align-center justify-center>
                        <v-card>
                            <v-card-text>
                                <v-flex xs12>
                                    <v-text-field
                                        v-model="usuario"
                                        box
                                        label="Usuario"
                                        @input="usuario=usuario.toUpperCase()"/>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field
                                        box
                                        type="password"
                                        label="Password"/>
                                </v-flex>
                                <v-flex xs12 text-xs-center>
                                    <v-btn
                                        small
                                        color="primary"
                                        @click.stop="login">Ingresar</v-btn>
                                </v-flex>
                            </v-card-text>
                        </v-card>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    data() {
        return {
            usuario: "",
        };
    },
    methods: {
        login() {
            this.$store.dispatch("auth/LOGIN", {
                username: this.usuario,
            }).then(() => {
                this.$router.push("/home");
            }).catch(() => {});
        },
    },
};
</script>

